h2{
    text-align: center; /* centralizando o texto "Meus Estudos"*/
}

.botao{
    max-width: 768px; /*largura maxima para tablet*/
    background-color: brown; /* Cor de fundo*/
    margin: 10px auto; /* -> Altura | auto -> largura ( centraliza)*/
    display: block; /* Converte tag de texto em estrutura de div */
    color: white; /*cor da letra*/
    text-decoration: none; /* texto sem fortação*/
    font-size: 20px; /*tamanho da fonte*/
    text-align: center;/*alinhamento do texto centralizado*/
    padding: 20px 0; /* espaçamento interno da tag*/
    border-radius: 10px; /* arredondamento da borda da tag*/
    
}

