 #sessao{
    background-color: black;
     
}

.container{
    max-width: 1024px;
    color: white;
    display: flex;
    margin: 0 auto;

}

.box{
    display: flex;
    max-width: 330px;
    margin: 50px 25px 0;
    border-radius: 8px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: space-evenly
    text-align: center;

}

.box img{
    width: 330px;
    height: 330px;
    padding: 10px;
    border-radius: 5px;
}

.box h2{
    text-align: center;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.box p{
    text-align: center;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.botao{
    padding: 10px 30px;
    background-color: white;
    color: #333;
    text-decoration: none;
    text-align: center;
    width: 100px;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;
    }

    @media screen and (max-width:1024px){

        .container{
            flex-direction: column;
            }
            .box{
                justify-content: center;
                max-width: 100%;
            }

    }
   

  
    

