.black{
    width: 400px; /*largunra*/
    height:400px;/*altura*/
    background-color: #000;
    color: #fff;
    padding: 30px;
    margin: 30px;
  }
  .white{
    width: 400px; 
    height:400px;
    color: #333;
    border: 1px #000 solid; /*espessura da borda, cor da borda, tipo de borda */   
    padding: 30px;/*espaçamento interno em todos os lados da div*/
    margin: 30px;/*espaçamento externo em todos os lados da div*/
  }

.container{
  max-width:1024px;
  margin: 0 auto;
  display: flex;
}

/*Configuração menor que 1024px de largura*/

@media screen and{ (max-width: 1024px;)
  .container{
    flex-direction: column; /*direção dos conteúdos do display:flex*/
  }
}
  